td, th {
border: 1px solid #000000;
padding: 5px; 
}
th {
	background-color: #483D8B
}
td {
	background-color: #CDC9C9;
}
table{
width: 39%;
font-family: verdana;
border-collapse: collapse;
}

.coluna1{
	background-color: #483D8B;
	font-family: verdana;
	font-size: 15px;
	color:#ffffff;
	font-weight: bold
}
.ultimalinha{
	background-color: #CDC9C9; 
	font-size: 10px;
	color: #8B8989
}
h1{
	color:#A0522D;

}
h3{
	color:#A0522D;
}
h2{
	border-bottom: 6px solid;
	color:#A0522D;

}
h4{
	color:#A0522D;
}
.centro{
	text-align: center;
}