.textocolorido {
	color:#0000FF;
	text-decoration:underline;
}
.teste{
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-size:10%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    
    top: 0;
	background-size: cover;

}
.missao{
	background-image: url('imagens/fundom1.png');
    background-repeat: no-repeat;
    background-size:10%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0;
	background-size: cover;
	
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
